<!-- your html code here -->
<div class="container-fluid border-top">
    <div class="row mb-5 mt-5">
        <h1 class="fw-bold">Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu dictum quam, tristique gravida nibh.
            Suspendisse nec volutpat ligula. In malesuada rutrum turpis, eu fermentum augue fermentum a. In quis commodo
            metus. In nunc libero, molestie eleifend ligula sed, accumsan posuere urna. Nam vel tortor ut risus porta
            sodales quis quis justo.</p>

        <form>
            <div style="width: 60%;" class="mx-auto contactform p-2 mb-1">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label px-4 ms-auto" style="width: auto;"> <strong>Your E-mail</strong> </label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="staticEmail" placeholder="Your email">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="exampleFormControlTextarea1" class="col-sm-4 form-label px-4 ms-auto" style="width: auto;"> <strong>Your message</strong> </label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary ms-auto me-3" style="width: auto;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>