<div class="container my-5 border-top border-secondary-subtle pt-4">
    <h1 class="fw-bold">Porfolio</h1>
    <p style="font-size: 25px;">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>

    <div class="row text-center mt-4">

        <div class="col-md-4 mb-4 text-start">
            <img src="../../website/assets/img/big-project-image.png" alt="imagen 1" class="img-fluid mb-3">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-4 mb-4 text-start">
            <img src="../../website/assets/img/big-project-image.png" alt="imagen 2" class="img-fluid mb-3">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>
        </div>

        <div class="col-md-4 mb-4 text-start">
            <img src="../../website/assets/img/big-project-image.png" alt="imagen 3" class="img-fluid mb-3">
            <h5 class="text-primary">Project Name</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
</div>
